@charset "UTF-8";
/*전체 정렬 센터  */
#content {
	text-align: center;
}
/* 검색 패널 없애기 */
.arrow img{
	display: none;
}
table{
	margin: auto;
	border-collapse: collapse;	
}
#pageBar{
	display: inline-block;
}

table th, td{
	border: 1px solid black;
}
.table table-dark{
	width: 830px;
}