@charset "UTF-8";
div#info-container{
	background-color: #515151;
	display: inline-block;
	margin-left: 5px;
	padding: 10px;
	width: 99%;
	height: auto;
	overflow: hidden;
	position: relative;
	color: black;
}
td#main-poster{
	margin: 5px;
	display: inline;	
	width: 400px;
	padding: 10px;
}
td#details{	
	margin: 10px;
	pading: 10px;
	display: block;
	float: left;
}
td#grade{	
	font-size: 28px;
	font-weight: bold;
}
div#gaugeChart{
	width: 200px;
}
.clear{
	clear: both;
	border-color: white;
}
div.tn{
	float: left;
	margin: 10px;
}

h2.subject{
	font-size: 24px;
	font-weight: bold;
	font-style: italic;		
}
td#title, td#overview, td#genres, td#release_date{
	font-size: 28px;
	font-weight: bold;
}
td#title-data{
	padding-left: 1.8em;
	font-size: 28px;
	font-weight: bold;
	font-style: italic;
}
td#overview-data{
	padding-left: 1em;
	font-size: 17px;
}
.gr{
	padding-left: 1em;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	color: blue;
}
.gr:hover{
	cursor: pointer;
}
td#date-data{
	padding-left: 1em;
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
}
div#videos{
	margin: 0 auto;
}
div.carousel-inner{
	text-align: center;
}
div#review-insert{
	display: inline;	
}
div#review-editor{
	position: relative;
}
#review-comment{
	margin: 10px;
	padding: 5px;
	width:80%;
	border:1;
	overflow:visible;
	text-overflow:ellipsis;
	resize: none;	
}
#send-review{	
	top: 10px;
	left: 83%;
	width: 100px;
	height: 85px;	
	position: absolute;
}
#written-comments{
	margin:  0 auto;
	padding: 5px;
	width: 95%;
}
.like{
    width: 50px; 
    height: 40px;
}
.like:hover{
	cursor: pointer;
}
#noReview{
	font-weight: bold;
	font-style: italic;
	font-size: 25px;
	color: gray;
}
/* 별점CSS */
.rating {
	cursor: pointer;
	margin-left: 10px;
}

.rating .rating-star {
  	display: inline-block;
 	position: relative;
  	padding-right: 5px;
  	margin-left: -5px;
  	color: #e3cf7a;
}
.rating .selected:before {
  	content: '\f005';
}